.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #b9baa3;
}

h1 {
  margin: 30px;
 font-family: 'IBM Plex Serif', serif;
  text-shadow: 5px 0 #d6d5c9;
  font-size: 7rem;
  color: #0a100d;
}

p {
  font-size: 2rem;
  color: #0a100d;
 font-family: 'Square Peg', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #0a100d;
  text-align: center;
 font-family: 'Square Peg', cursive;
}
